using System.Reflection;
using FluentValidation;
using Microsoft.Extensions.DependencyInjection;

namespace ${project_name}.Application;

public static class ServiceRegistration
{
    public static IServiceCollection AddApplication(this IServiceCollection services)
    {
        services.AddValidatorsFromAssembly(Assembly.GetExecutingAssembly());

        return services;
    }
}
